<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FukjTabletSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="FukjTabletSystem.Properties.Settings.FukjTabletSystemConnectionString"
        connectionString="Data Source=.\Database\fukjTablet.sdf;Password=fukj_1800;Persist Security Info=True"
        providerName="System.Data.SqlServerCe.3.5" />
    <add name="FukjTabletSystem.Properties.Settings.OVLFukjOverlayConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ProgramData\SoftPlanet\MapWorks50\Mdb\OVLFukjOverlay.mdb"
        providerName="System.Data.OleDb" />
</connectionStrings>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <FukjTabletSystem.Properties.Settings>
      <setting name="PrintDirectory" serializeAs="String">
        <value>C:\FukjTabletSystem\Print</value>
      </setting>
      <setting name="PrintFormatFolder" serializeAs="String">
        <value>C:\FukjTabletSystem\PrintFormat\</value>
      </setting>
      <setting name="HolidayFile" serializeAs="String">
        <value>.\HolidayFile.xml</value>
      </setting>
      <setting name="ErrMsgFile" serializeAs="String">
        <value>.\ErrMsgFile.xml</value>
      </setting>
      <setting name="GpsWaitTimer" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="GpsTimer" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="DemoMapArea" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PicDataRootDirectory" serializeAs="String">
        <value>C:\FukjTabletSystem\Pic</value>
      </setting>
    </FukjTabletSystem.Properties.Settings>
  </applicationSettings>
</configuration>
